<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>NesSpaceChecker</string>
    <key>CFBundleGetInfoString</key>
    <string>NesSpaceChecker-macOS-app</string>
    <key>CFBundleIconFile</key>
    <string>app-icon.png</string>
    <key>CFBundleIdentifier</key>
    <string>nes.space.checker</string>
    <key>CFBundleName</key>
    <string>NesSpaceChecker-macOS-app</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
  </dict>
</plist>
